<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta name="encoding" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        table, th, td {border: 1px solid black;}
        th {width: 250px;height: 50px;}
        td {height: 35px;}
    </style>
</head>
    
<body>
    <h1>Liste des évènements</h1><br/><br/>
    
    <table border="1">
        <tr>
            <th>Intitulé</th>
            <th>Thème</th>
            <th>Date de début</th>
            <th>Durée</th>
            <th>Nb maximum</th>
            <th>Description</th>
            <th>Organisateur</th>
        </tr>
        <tr th:each ="evenement : ${evenements}">
            <td th:utext="${evenement.intitule}">...</td>
            <td th:utext="${evenement.theme}">...</td>
            <td th:utext="${evenement.dateDebut}">...</td>
            <td th:utext="${evenement.duree}">...</td>
            <td th:utext="${evenement.nbParticipantMax}">...</td>
            <td th:utext="${evenement.description}">...</td>
            <td th:utext="${evenement.organisateur}">...</td>
        </tr>
    </table>
    
    <div style="display: flex; justify-content: space-around; margin-top: 50px;">
        <a href="../participants/liste">Liste des participants</a>
        <a href="../participants/nouveau">Ajouter un participant</a>
        <a href="../evenements/liste">Liste des évènements</a>
        <a href="../evenements/nouveau">Ajouter un évènement</a>
    </div>
</body>
</html>
