<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste participants</title>
    <meta name="encoding" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        table, th, td {border: 1px solid black;}
        th {width: 250px;height: 50px;}
        td {height: 35px;}
    </style>
</head>
<body>
    <h1>Liste des participants</h1><br/><br/>

    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Organisation</th>
            <th>Date de naissance</th>
            <!--<th>Évènement</th>-->
        </tr>
        
        <tr th:each ="participant : ${participants}">
            <td th:utext="${participant.nom}">...</td>
            <td th:utext="${participant.prenom}">...</td>
            <td th:utext="${participant.email}">...</td>
            <td th:utext="${participant.organisation}">...</td>
            <td th:utext="${participant.dateNaissance}">...</td>
            <!--<td th:utext="${participant.evenement}">...</td>-->
        </tr>
    </table>
    
    <div style="display: flex; justify-content: space-around; margin-top: 50px;">
        <a href="../participants/liste">Liste des participants</a>
        <a href="../participants/nouveau">Ajouter un participant</a>
        <a href="../evenements/liste">Liste des évènements</a>
        <a href="../evenements/nouveau">Ajouter un évènement</a>
    </div>
</body>
</html>
