<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nouveau Participant</title>
    <meta name="encoding" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
    
<body>
    <h1>Ajouter un participant</h1><br/><br/>

    <form id="form" th:action="@{/participants/nouveau}"
    th:object="${participant}" method="POST">
        
        <label for="nom">Nom: </label>
        <input id="nom" type="text" th:field="*{nom}"/><br/>

        <label for="prenom">Prénom: </label>
        <input id="prenom" type="text" th:field="*{prenom}"/><br/>

        <label for="email">Email: </label>
        <input id="email" type="text" th:field="*{email}"/><br/>

        <label for="date">Date de naissance: </label>
        <input id="date" type="text" th:field="*{dateNaissance}"/><br/>

        <label for="organisation">Organisation: </label>
        <input id="organisation" type="text" th:field="*{organisation}"/><br/>
        <!--
        <label for="evenement">Évènement: </label>
        <select id="evenement" style="width: 250px">
            <option th:each="event : ${evenements}" th:value="${event.numeroEvenement}" th:text="${event.description}"/>
        </select>-->
        <br/>

        <input type="submit" value="Créer" />
    </form>
    
    <div th:each="evenement: ${evenements}" th:utext="${evenement.intitule}">...</div>

    <div style="display: flex; justify-content: space-around; margin-top: 50px;">
        <a href="../participants/liste">Liste des participants</a>
        <a href="../participants/nouveau">Ajouter un participant</a>
        <a href="../evenements/liste">Liste des évènements</a>
        <a href="../evenements/nouveau">Ajouter un évènement</a>
    </div>
</body>
</html>
